<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mi primer tutorial de vue</title>
</head>
<body>
<script src="https://unpkg.com/vue"></script>
<div id="app">
    <p>{{message}}</p>
</div>
<div id="app-2">
    <span v-bind:title="message">
      Pon tu mouse sobre mi unos segundos, verás mi información generada dinámicamente.
    </span>
</div>
<br>
<div id="app-3">
    <span v-if="seen">Ahora me ves</span>
</div>
<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>
<div id="app-5">
    <p>{{message}}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
</div>
<div id="app-6">
    <p>{{message}}</p>
    <input type="text" v-model="message">
</div>
<div id="app-7">
    <ol>
        <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id">
        </todo-item>
    </ol>
</div>
</body>
<script src="script/script.js"></script>
</html>